  .user-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-form-header {
    background-color: #8551ff;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
    padding: 1rem;
}

.user-form-header h2 {
    margin-bottom: 1rem;
}

.form-container {
    width: 70%;
}

.form-end {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.select-container {
    width: 20rem;
    display: flex;
    justify-content: space-between;
}